extends ./layout.jade

block title
  title= 'Timeline Streaming - Home'

block script
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/home.js')

block nav
  ul.nav.masthead-nav
    li
      a(href='/logout') Logout

block content
  ul#timeline