extends ./layout.jade

block title
  title= 'Timeline Streaming - Index'

block script
  script(src='/test/index.js')

block content      
  h1.cover-heading Sign in with your Twitter account
  p.lead Then you can see your timeline.
  br
  br
  p.lead
    a.btn.btn-lg.btn-default(href='/twitter_oauth') Login with Twitter
    